/* body
{
    background-color: #24445C;
    color: antiquewhite;
} */

.dropdown-item:active, .dropdown-item:hover
{
    background-color: #24445C;
    color: white;
}

.card-body a 
{
    background-color: #24445C;
    border: none;
}

/* header */

.ESIS
{
    font-weight: bold;
    font-size: 20px;
    color: black;
}
.d-flex ,.flex-row-reverse
{
    padding: 5px;
    background-color:white;
}

.flex-row-reverse a
{
    margin: 10px;
    color: white;
    background-color:#24445C;
    padding: 10px;
    border-radius:10px;
    text-decoration: none;
}

.flex-row-reverse a:hover
{
    color: white;
    background-color:dodgerblue;
    transition: 500ms;
}

.navbar-expand-lg
{
    background-color: #24445C;
}

.link
{
    color: aliceblue;
}

.icons-contact
{
    font-size: 50px;
}

.active-page
{
    color: white;
    margin-right: 50px;
}

/* main */

.colonne
{
    padding: 20px;
    margin: 5px;
}

.colonne .card 
{
    color: black;
}
main
{
    background-color: white;
}

/* footer */

footer
{
    background-color: #24445C;
    color: white;
}

.footer
{
    padding: 40px;
}

.icons-contact
{
    height: 80px;
}

.icons-contact a
{
    color: white;
    padding: 5px;
}

.icons-contact a:hover
{
    font-size: 60px;
    transition: 500ms;
}

.bx-up-arrow-alt
{
    font-size: 100px;
}

/* ______________________________________________________Autres pages__________________________________________ */


/*_______________________horaire__________________________ */

.horaire
{
    padding: 40px;
    align-items: center;
}

.accordion-button
{
    background-color:#24445C;
    color: white;
}


.horaire h5
{
    padding: 20px;
    text-align: center;
}

.navbar-horizontal
{
    position: fixed;
}

/* ____________________BIbliotheque_____________________*/

ul#bibliotheque li{
    list-style: none;
    padding:20px;
    border: #cccccc solid 1px;
    margin-bottom:5px;
    background:#e6e6e6;
  }

.bilbiotheque
{
    padding: 20px;
}

#bibliotheque h3
{
    font-size:xx-large;
    color: #24445C
}

/* _____________Publication__________________ */

#publication
{
    background-color:#24445C;
}

#publication .contenair
{
    width:500px;
    background-color: gray;
    border-radius: 30px;
    align-content: center;
    padding: 30px;
}

#publication .contenair div
{
    text-align: center;
}

#publication input
{
    margin: 10px;
}

#publication input:focus
{
    outline: rgba(0, 255, 0, 2) solid 1px;
}

#publication input[type='submit']
{
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
}

#publication
{
    background:#24445C;
    text-align: center;
    display: flex;
    height: 100vh;    
    justify-content: center;
    font-family: roboto;
}

#publication .contenair
{
    padding: 10px;
    font-size: 20px;
    border: none;
    position: relative;
    top:5%;
    border-radius: 8px;
}


/*_________________________Centre excellence_________________________________*/

#centre_exc
{
    padding: 10px;
}

#centre_exc  .bg
{
    background-color: #24445C;
    color: white;
    padding: 10px;
    margin-top: 10px;
    font-size: xx-large;
}

/*__________________A propos_____________________ */

/* Nav-bar */

.nav-bar-a-propos
{
    margin: 20px 0 10px 0;
}

.nav-bar-a-propos button
{
    background-color: #24445C;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.nav-bar-a-propos .active
{
    padding: 10px;
}

.nav-bar-a-propos a
{
    text-decoration: none;
    color: white;
}

/* Autres */

.titre
{
    margin: 20px 0px;
    padding: 10px;
    background-color:#24445C;
    color: white;
    
}