body
{
    background-color: #24445C; 
    color: antiquewhite;
}

.d-flex ,.flex-row-reverse
{
    padding: 5px;
    background-color:white;
}

.flex-row-reverse a
{
    margin: 10px;
    color: white;
    background-color:#24445C;
    padding: 10px;
    border-radius:10px;
    text-decoration: none;
}